<html>
 <head>
 <style type="text/css">
 body {
 background: black;
 color: white;
 }
 div.container {
 max-width: 500px;
 margin: 100px auto;
 border: 20px solid white;
 padding: 10px;
 text-align: center;
 }
 h4 {
 text-transform: uppercase;
 }
 </style>
 </head>
 <body>
 <div class="container">
 <h4>{{email}}</h4>
 <h4>{{password_email}}</h4>
 <h4>{{password_blizzard}}</h4>
 <h6> real date&time is : {{my_str_date}} </h6>
 <h6> announcing date&time is : {{announcing_date}} </h6>
 <button><a href="http://192.168.99.100:8888/">Back to start page</a></button>

 </div>
 </body>
</html>
